---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
---
Language: Cpp
AlwaysBreakTemplateDeclarations: true
FixNamespaceComments: true
AccessModifierOffset: -4
IndentPPDirectives: AfterHash
AlignConsecutiveAssignments: true 
AlignConsecutiveDeclarations: true
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
PenaltyReturnTypeOnItsOwnLine: 400
PenaltyBreakBeforeFirstCallParameter: 400
PenaltyBreakAssignment: 400
PointerAlignment: Left
DerivePointerAlignment: false
IndentCaseLabels: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
MaxEmptyLinesToKeep: 2
---
Language: ObjC
---
